<nav class="navbar navbar-expand-sm navbar-da" style="background-color: black">
    <div class="container-fluid">
        <button onclick="history.back()" class="btn btn-primary navbar-btn" style="width: 80;height: 35;">Go Back</button>
    </div>
</nav>

<div class="container">
    <div class="card">
        <div class="card-body">
            <div class="col-md-6 offset-md-3">
                <h3>Update Leave</h3>
                <form (ngSubmit)="onSubmit()" style="background-color:#E6E6FA" #updateLeave="ngForm">
                    <div class="form-group">
                        <label>Employee ID</label>

                            <input type="number" class="form-control" id="empId" [(ngModel)]="leave.employee.empId" name="empId"
                            required #empId="ngModel" [class.is-invalid]="empId.invalid && empId.touched" /> 
                        <small class="text-danger" [class.d-none]="empId.valid || empId.untouched">Required field</small>
                    </div>

                    <div class="form-group">
                        <label>Leave Date</label>
                        <input type="date" class="form-control" id="date" [(ngModel)]="leave.date" name="date"
                            required #date="ngModel" [class.is-invalid]="date.invalid && date.touched" />
                        <small class="text-danger" [class.d-none]="date.valid || date.untouched">Required field</small>
                    </div>

                    <div class="form-group">
                        <label>Leave Reason</label>
                        <textarea class="form-control" id="reason" [(ngModel)]="leave.reason" name="reason"
                            required #reason="ngModel" [class.is-invalid]="reason.invalid && reason.touched"></textarea>
                        <small class="text-danger" [class.d-none]="reason.valid || reason.untouched">Required field</small>
                    </div>

                    <button [disabled]="updateLeave.form.invalid" class="btn btn-success" type="submit">Submit</button>
                </form>
            </div>
        </div>
    </div>
</div>
