<div class="container-fluid">
    <button onclick="history.back()" class="btn btn-primary navbar-btn">Go Back</button>
  </div>
  <div class="about-container">
    <h1>About Employee Management</h1>
    <p>
      Welcome to the Employee Management application. This application is designed to help you manage employees, departments, and payroll information in your organization.
  
      With Employee Management, you can: </p>
      <ul>
        <li>Efficiently store and organize employee data, including personal details, contact information, and job roles.</li>
        <li>This application makes it easy to manage and access all essential employee information securely and efficiently.</li>
        <li>Create and manage departments to organize employees and their responsibilities effectively.</li>
        <li>Organize employees into different departments, track their roles, and improve the overall workflow within your organization.</li>
        <li>Automate the payroll process, calculate salaries, and generate pay stubs for each employee.</li>
        <li>Generate comprehensive reports and analytics for better decision-making and insights into your workforce.</li>
      </ul>
   
  </div>
  
  